image: Visual Studio 2017

platform:
  - x64

environment:
  MAVEN_WRAPPER: 0
  COVERAGE_BUILD: 0
  PIP_RETRY: 10
  CODECOV_VERSION: 2.0.15

  matrix:
    - JDK_VERSION: 7
      COVERAGE_BUILD: 1
    - JDK_VERSION: 11
      MAVEN_WRAPPER: 1
    - JDK_VERSION: 8
    - JDK_VERSION: 10
    - JDK_VERSION: 11

cache:
  - C:\Users\appveyor\.m2\repository -> appveyor.yml

install:
  - ps: .\scripts\appveyor\install.ps1

build_script:
  - ps: .\scripts\appveyor\build.ps1

after_build:
  - ps: .\scripts\appveyor\codecov.ps1

test: false

artifacts:
  - path: target\*.jar
    name: JAR
  - path: target\*.exec
    name: JaCoCo stats
